p{
  color: lime; 
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 10s steps(50, end); 
}

@keyframes type{ 
  from { width: 0; } 
} 